# Ignorar carpetas y archivos de Visual Studio
.vs/
*.suo
*.user
*.userosscache
*.sln.docstates

# Build results
[Dd]ebug/
[Rr]elease/
x64/
x86/
[Oo]bj/
[Bb]in/

# Paquetes NuGet
*.nupkg
*.snupkg
.nuget/

# Archivos de configuración locales
*.config
*.props
*.targets

# Ignorar archivos de caché de paquetes y logs
packages/
